{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}
<div id="find_trip_box" class="grid_7 mainpageBox">

    <h3 class="h_icon find_icon">Znajdź wypad i dołącz</h3>

    <p>Twój motocykl się kurzy ? <br/>Pojechałbyś, ale nie masz z kim ?</p>

    <p>Znajdź wypad w swojej okolicy !</p>

    <h4>Chcesz pojechać z kimś na wycieczkę?</h4>

    <p>Na mapie poniżej znajdziesz zaznaczone wypady, do których możesz się przyłączyć.
        Po kliknięciu
        wybranego punktu, możesz przejść do szczegółów, a następnie dołączyć do wypadu. </p>

    {#<div><a href="{{ path('trip') }}">Zobacz wszystkie wypady</a></div>#}
</div>
<div id="add_trip_box" class="grid_7 push_1 mainpageBox">

    <h3 class="h_icon add_icon">Dodaj wypad i zaproś</h3>

    <p>Masz pomysł na wypad "w koło komina" po pracy, a&nbsp;może na cały urlop ?</p>

    <p>Nie jedź sam - <a href="{{ path('trip_new') }}">dodaj wypad</a> i poznawaj nowych&nbsp;ludzi.</p>

    <h4>Organizujesz forumowe spotkanie ?</h4>

    <p>Stwórz wypad-zlot i łatwo ustal listę obecności. Podaj na forum linka do stworzonego wypadu, będziesz informowany
        mailem o zgłoszeniach.
        Jeżeli chcesz, możesz ukryć wypad przed nieproszonymi gośćmi.</p>
</div>

<div class="clear"></div>

<div id="map" class="grid_16">
    {% render "WodorNetMotoTripBundle:Default:allTripsMap" with {'max': 3} %}
</div>

<div class="clear"></div>
<div id="trip_list_small" class="grid_8">
    <h3>Najnowsze wypady</h3>
    {% include 'WodorNetMotoTripBundle:Trip:upcomingSnippet.html.twig' %}
</div>

<div id="about_box" class="grid_8">
    <h3>Jak to działa</h3>

    <p>To proste!</p>

    <p>Czy nie zdażyło Ci się przegapić fajnego wyjazdu? Czy szukając kompanii musisz odwiedzać kilka for jednocześnie
        i wklejać te same informacje, aby poinformować innych o wyjeździe ?

    <p>Teraz możesz tutaj stworzyć "wypad", a na forach wkleić tylko link.
        Zainteresowani łatwo dołączą do Twojego Wypadu, a rejestracja jest bardzo prosta.
        Masz również możliwość zalogować się za pośrednictwem Facebook'a.</p>
    </p>
    <p>Twoj "wypad" nie musi być publiczny, możesz udostępnić go tylko swoim znajomym
        lub osobom posiadającym unikalny link, który wklejasz w prywatnej części forum.</p>
</div>
        {% endblock %}