{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}

{% block content %}

  <div><a href="{{ path('trip') }}">Lista Wypadow</a></div>
  <div><a href="{{ path('trip_new') }}">Dodaj wypad</a></div>
  
  {% include 'WodorNetMotoTripBundle:Trip:upcomingSnippet.html.twig' %}
 
 
{% endblock %}