<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="wodor_net_moto_trip.mailing" class="WodorNet\MotoTripBundle\Mailing\Subscriber" scope="request">
            <tag name="wodor_net_moto_trip.subscriber"/>
            <argument type="service" id="wodor_net_moto_trip.mailing.sender"/>
        </service>
    </services>
</container>
