{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} Rejestracja
{% endblock title %}

{% block fos_user_content %}

<div class="Rejestracja Roundsquare grid_7">
    <h5>Rejestracja nowego użytkownika</h5>
    <div class="grid_7">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
</div>


{% endblock fos_user_content %}
