{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} Rejestracja
{% endblock title %}

{% block fos_user_content %}
<h3>Rejestracja nowego użytkownika</h3>
<div class="Rejestracja">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>


{% endblock fos_user_content %}
