{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}<h1>{%trans%}Trip{%endtrans%}</h1>

<div class="grid_9">
<form class="validated" action="{{ path('trip_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p style="text-align: right; margin-top: 20px;">
        <input class="bigButton" type="submit" value="Zapisz"/>
    </p>
</form>
</div>

<div class="grid_7">
    <div class="help">
        Podaj tytuł, który zawiera czas i miejsce. Na przykład "Puszcza Notecka w Weeknd - Enduro", "Kilkudniowy wyjazd na Czechy".
    </div>

    <div class="help" style="margin-top: 15px;">
        <b>Te informacje będą widoczne dla wszystkich odwiedzających serwis motoWypady.</b><br/>
        Opisz trasę, którą masz zamiar jechać, ile kilometrów przejedziesz dziennie, jakimi drogami i w jakim tempie.
        Napisz coś o sobie, zachęć (lub zniechęć) początkujących (lub "wymagających") motocyklistów.
        Jeżeli znalazłeś już nocleg, to opisz czeg9o można się spodziewać i orinetacyjny koszt.
        Przed wyjazdem pamiętaj o przypomnieniu wszyskim zasad jazdy w grupie.
    </div>

    <div class="help" style="margin-top: 60px">Tutaj wpisz informacje, które będa widoczne <b>tylko dla użytkowników,
        których zatwierdziłeś</b> jako uczestników wypadu. Jest to właściwe miejsce na podawanie adresów lub telefonów.
    </div>
    <div class="help">

    </div>
    
    <br>
    <div class="help" style="margin-top: 240px">
        Oznacz miejsce z którego wyruszasz. Wkrótce dodamy możliwość oznaczania punktów na trasie.
        <br>
        Jeżeli nie chcesz podawać dokładnej lokalizacji oznacz skrzyżowanie, lub centrum miejscowości nieopodal.
        W <b>opisie widocznym tylko dla uczestników</b> wyjaśnij gdzie dokładnie jest spot.
        Wkrótce lepsze możliwości ukrywania lokalizacji przed obcymi.
    </div>


</div>
{% endblock %}
