{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}

{% block content %}

<h3>{% trans %}Lista wypadów{% endtrans %}</h3>
{% for trip in entities %}
{% include 'WodorNetMotoTripBundle:Trip:tripRowSearch.html.twig' with {'item':  trip} %}
{% else %}
    <p style="text-align: center"><b>Nie utworzyłeś jeszcze do żadnegp wypadu.</b></p>
    <p style="text-align: center"><b>Masz pomysł ? <a href="{{path('trip_new')}}">Utwórz wypad  i zaproś znajomych</a></b></p>
{% endfor %}

{% endblock %}
