{% extends 'WodorNetMotoTripBundle::mototrip.html.twig' %}
{% block content %}<h1>Trip creation</h1>

<form action="{{ path('trip_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('trip') }}">
            Back to the list
        </a>
    </li>
</ul>

 
<script>
$(function() {
    $( "#wodornet_mototripbundle_triptype_startDate" ).datepicker();
    $( "#wodornet_mototripbundle_triptype_endDate" ).datepicker();
});
</script>

{% endblock %}
