{% extends 'WodorNetMotoTripBundle::listsnippet.html.twig' %}

{% block list_content %}
<h2>Zbliżające się wypady</h2>
<table class="dataTable">
<thead>    
    <tr> 
    <th>Nazwa</th>
    <th>Data</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
{% endblock %}

{% block source_route %}upcomingTripsSnippet{% endblock %}
