{% block list_content %}
<h2>{%trans%}Upcoming Trips{%endtrans%}</h2>
<table class="dataTable">
<thead>    
    <tr> 
    <th>Nazwa</th>
    <th>Data</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
{% endblock %}

{% include 'WodorNetMotoTripBundle::datatable.html.twig' with {'sourceRoute': "'upcomingTripsSnippet'" , 'tablename':'dataTable'} %}
