html {
    overflow: -moz-scrollbars-vertical;
}

body {
    background: url("../images/bodybackground.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #ded6ce;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #403b37;
}

p {
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    text-shadow: 1px 1px 1px #87786c;
    color: #403b37;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.5em;
}

.current_status {
    font-style: italic;
    font-family: sans-serif;
    border: 2px solid ;
    border-color: #d1c9c2;
    padding: 15px;
    background-color: #e3dbd3;
    color: #696158;
    text-shadow: none;


}

.h_icon {
    background-image: url("../images/ikony.gif");
    background-repeat: no-repeat;
    line-height: 25px;
    padding-left: 40px;
}

a {
    color: #157fd5;
    font-weight: bold;
}

.find_icon {

}

.add_icon {
    background-position: 0 -50px;
}

div.logo {
    margin-top: 40px;
    padding-left: 25px;
    height: 325px;
}

.Xcontainer_16 div {
    border: solid 1px red;
    border-collapse: collapse;
}

textarea.big {
    resize: vertical;
    width: 100%;
    height: 200px;
}

input.title {
    width: 100%;
    font-size: large;
}

label {
    font-family: 'Lobster',   cursive;
    font-weight: 100;
    font-size: 1.2em;
}

div.normalFont label {
    font-family: "Arial", sans-serif;
}

.topBar {
    padding: 5px;
    padding-left: 15px;
    background: rgb(230, 230, 230);
    background: rgba(160, 160, 160, 0.2);
}



div.topBar {

    width: 100%;
    text-align: right;
}

/*Menu strony*/
.menu{
    margin: -80px 0 0 0px;
}
.menuButton{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: #403b37;



    color: #f4ece5;
    border: 2px solid #6c6159;

    font-size: 1.6em;
    font-weight: 400;
    padding: 0 15px 3px 15px;

}

.current{
    background-color: #376f85;

}

/*Guziki*/
.Button{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: #403b37;
    color: #f4ece5;
    border: 2px solid #f4ece5;

    font-size: 1.6em;
    font-weight: 400;
    padding: 0 15px 3px 15px;

}

.mainpageBox p {

    margin: 0 0 10px 40px;
    text-align: justify;
}

.mainpageBox h4 {
    margin: 0 0 20px 40px;
}

div#map {
    margin-top: 20px;
}

.mainpageList   {
    margin-left: 40px;
}
/*candidatesTable*/
.candidatesTable{
    width: 100%;
}
.candidatesTable tr{
    vertical-align: middle;
}
.kolumna_1{
    width: 200px;
    vertical-align: middle;
    padding-left: 25px;
}
.kolumna_2{
    width: 100px;
    vertical-align: middle;
}
.kolumna_3{
    width: 200px;
    vertical-align: middle;
}
.wiersz_1{
    height: 50px;
    border-bottom: 2px dashed;
    border-color: #b0a098;

}
.kolumna_id{
    width: 40px;
    vertical-align: middle;
    padding-left: 25px;
}
.kolumna_opis{
    width: 360px;
    vertical-align: middle;
    padding-left: 25px;
}
.candidatesTable th{
    height: 30px;
    background-color: #403b37;
    color: #f4ece5;

}
/*Duza lista wypadow*/
.menuList li{
    list-style-type: none;
    display: inline-block;
   line-height: 50px;
    padding-left: 0;
    margin: 0;
}

/*Lista wypadow mala*/
.month_all{
    display: block;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 3px;
    font-size: 2em;
    width: 80px;
    height: 65px;

    background-image: url("../images/miesiace_sprite.png");
    background-repeat: no-repeat;
}
.month_01 {

    background-position: -25px -20px;

}
.month_02 {
    background-position: -25px -94px;

}
.month_03 {
    background-position: -25px -168px;

}
.month_04 {
    background-position: -25px -244px;

}
.month_05 {
    background-position: -25px -320px;

}
.month_06 {
    background-position: -25px -394px;

}
.month_07 {
    background-position: -25px -470px;

}
.month_08 {
    background-position: -25px -546px;

}
.month_09 {
    background-position: -25px -620px;
}
.month_10 {
    background-position: -25px -695px;
}
.month_11 {
    background-position: -25px -770px;
}
.month_12 {
    background-position: -25px -844px;
}

.tabela_lista{
    width: 300px;
    margin: 3px 0 0 15px;
}
.nazwa_wyjazdu{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 1.5em;
}


.ikona  {
    width: 26px;
    height: 26px;
    background-image: url("../images/ikony_all.png");
    background-repeat: no-repeat;
    display: table-cell;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: bold;
    font-size:  1.2em;
}

td.duration{
    width: 80px;

    background-position: 0px -153px;
}

.road_szosa{
    background-position: 0px -200px;
}

.road_szuter{
    background-position: 0px -249px;
}


/* formularze */

form.top_login input {
    font-size: 12px;
    border: 1px solid #f4ece5;
    color: #395164
}

form.top_login label.normal {
    font-size: 12px;
    font-family: Arial, "sans-serif";
    color: #395164;
}

form.top_login input[type=submit], form.top_login input[type=button], form.top_login input[type=reset] {
    background-color: #395164;
    color: #f4ece5;
}

form.top_login input[type=text], form.top_login input[type=password] {
    width: 80px;
}

form.top_login p {
    margin: 0;
    padding: 0;
}

input[type=text] {
    /*border: solid 1px #403b37;*/
}

input[type=submit], input[type=button], input[type=reset] {
    font-family: 'Lobster', cursive;
    background-color: #403b37;
    color: #f4ece5;
    border: 1px solid #f4ece5;
}

.bigButton {
    font-size: 20px;
}
.midButton{
    padding: 2px 7px 2px 7px;
    font-size: 1.2em;

}
/*formularz rejestracji*/
.Rejestracja label {
    display: inline-block;
    font-family: sans-serif;
    width: 150px;

}

.Rejestracja input {
    margin: 3px 0 3px 0;

}


/* validacja */

form.validated ul {

    border: solid 1px red;
}

form.validated ul li {
    color: red;
    list-style-type: none;
}

/* end validacja */


/* end formularze */


.footer {
    margin: 50px  0 20px 0 ;
    font-size: 0.8em;
    text-align: center;
}

