html {
    overflow: -moz-scrollbars-vertical;
}

body {
    background: url("../images/bodybackground.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #ded6ce;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #403b37;
}

p {
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OctinSpraypaintARegular', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px #faf8d7;
    color: #403b37;

    /*color: #faf8d7;*/
}

h1 {
    font-size: 3.5em;
    margin-left: 15px;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.5em;
}

h6 {
     font-family: sans-serif ;
    text-shadow: none;
}


.current_status {
    font-style: italic;
    font-family: sans-serif ;
    border: 2px solid ;
    border-color: #d1c9c2;
    padding: 15px;
    background-color: #e3dbd3;
    color: #696158;
    text-shadow: none;
}

.current_status a.Button{
    margin: 25px 0 25px 0;
    /*font-family: sans-serif;*/
    font-style:normal;
    font-weight: 400;
    font-size: 1em;
    font-kerning:auto;

}
.status{
    padding-left: 75px;
    background-image: url("../images/i_icon.png");
    background-repeat: no-repeat;
    background-position: 15px -7px;


}
.status h6{
    color: #4b5b70;
    border-bottom: dashed 1px #4b5b70;
    padding:5px 0 5px 0;
    margin-bottom: 10px;
}

.error{
    color: #571310;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.trip_details {
    margin-top: 25px;
}

.date{
    border: 1px solid;
    border-color: #d1c9c2;
    color: #403b37;
    background-image:url("../images/bg_Roundsquare_png_24.png");
    /*display: inline;*/
    width: 70px;
    height: 50px;
    margin: 0 0 -5px 3px;
    text-align: center;
    font-family: 'OctinSpraypaintARegular', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.date h5{
    margin-top: -5px;
    text-shadow: 1px 1px 1px #ffffff;
}

.lower{
    margin-top: -10px;
    height: 30px
}

.h_icon {
    background-image: url("../images/ikony.gif");
    background-repeat: no-repeat;
    line-height: 25px;
    padding-left: 40px;
}

a {
    color: #157fd5;
    font-weight: 600;
}

b {
    font-weight: 600;
}

.find_icon {

}

.add_icon {
    background-position: 0 -50px;
}

div.logo {
    margin-top: 40px;
    padding-left: 25px;
    height: 325px;
}

.Xcontainer_16 div {
    border: solid 1px red;
    border-collapse: collapse;
}

textarea.big {
    resize: vertical;
    width: 100%;
    height: 200px;
}

input.title {
    width: 100%;
    font-size: large;
}

label {
    font-family: 'OctinSpraypaintARegular', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
}
.sans_serif form label{
    font-family: sans-serif;
}
.sans_serif form input{
    margin-left: -2px;
}
.sans_serif form checkbox {
    margin-left: 0px;
}

div.normalFont label {
    font-family: "Arial", sans-serif;
}

.topBar {
    padding: 5px;
    padding-left: 15px;
    background: rgb(230, 230, 230);
    background: rgba(160, 160, 160, 0.2);
    text-align: center;
}



div.topBar {

    width: 100%;
    text-align: right;
}

/*Menu strony*/
.menu{
    margin: -80px 0 0 0;
    background-image: url("../images/bg_menu.png");
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    text-align: left;
    padding-left: 25px;
}
.menuButton{
    font-family: 'OctinSpraypaintARegular', sans-serif;
    text-decoration: none;


    line-height: 50px;

    color: #f0e1c2;

    border-bottom: 2px solid;

    border-color: #8a6953;

    font-size: 1.6em;
    font-weight: 400;

    margin-right: 25px;
    margin-left: 25px;

    text-shadow: 1px 1px 1px #701c13;

}



.current{
    background-color: #376f85;

}

/*Guziki*/
.Button{
    font-family: 'OctinSpraypaintARegular', sans-serif;
    text-decoration: none;
    background-color: #403b37;
    color: #f4ece5;
    border: 2px solid #5d718c;

    font-size: 1.6em;
    font-weight: 400;
    padding: 0 15px 3px 15px;

    -moz-border-radius: 7px;
    border-radius: 7px;



}


.mainpageBox p {

    margin: 0 0 10px 40px;
    text-align: justify;
}

.mainpageBox h4 {
    margin: 0 0 20px 40px;
}

div#map {
    margin-top: 20px;
}

.mainpageList   {
    margin-left: 40px;
}
/*candidatesTable*/
.brownRow{
    height: 50px;
    border-bottom: 1px dashed;
    border-color: #b0a098;


}

.candidatesTable{
    width: 100%;
    margin-bottom: 0px;
    background-image: inherit;
    background-repeat: repeat;

}


.candidatesTable tr{
    vertical-align: middle;
}
.kolumna_1{
    width: 200px;
    vertical-align: middle;
    padding-left: 25px;
}
.kolumna_2{
    width: 150px;
    vertical-align: middle;
    background-position: 0;

}
.kolumna_3{
    width: 350px;
    vertical-align: middle;
    background-position: 0;

}

.kolumna_id{
    width: 40px;
    vertical-align: middle;
    padding-left: 25px;
}
.kolumna_opis{
    width: 360px;
    vertical-align: middle;
    padding-left: 25px;
}
.candidatesTable th{
    height: 25px;
   background-color: rgba(59, 54, 51, 0.76);


    color: #f4ece5;

}


.tableplacement{
    margin: 0 auto;
    text-align: center;
}
/*Duza lista wypadow*/
.menuList li{
    list-style-type: none;
    display: inline-block;
   line-height: 50px;
    padding-left: 0;
    margin: 0;
}

/*spacery*/
.spacer_top{
  margin-top: 25px;
}

/*Lista wypadow mala*/
.month_all{
    display: block;
    font-family: 'OctinSpraypaintARegular', sans-serif;
    text-align: center;
    padding-top: 3px;
    font-size: 2em;
    width: 80px;
    height: 65px;

    background-image: url("../images/miesiace_sprite.png");
    background-repeat: no-repeat;
}

.month_01 {

    background-position: -25px -20px;

}
.month_02 {
    background-position: -25px -94px;

}
.month_03 {
    background-position: -25px -168px;

}
.month_04 {
    background-position: -25px -244px;

}
.month_05 {
    background-position: -25px -320px;

}
.month_06 {
    background-position: -25px -394px;

}
.month_07 {
    background-position: -25px -470px;

}
.month_08 {
    background-position: -25px -546px;

}
.month_09 {
    background-position: -25px -620px;
}
.month_10 {
    background-position: -25px -695px;
}
.month_11 {
    background-position: -25px -770px;
}
.month_12 {
    background-position: -25px -844px;
}

.tabela_lista{
    width: 300px;
    margin: 3px 0 0 15px;
}
.trip_name{
    /*font-family: 'OctinSpraypaintARegular', sans-serif;*/
    font-weight: 400;
    font-size: 1.1em;
}

.list_item {

}
/*zegary*/
.beautifull_watches{




    margin-bottom: 25px;
}

.help {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    color: #fffae9;
    background: #48535e;

    /* css3 */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    min-height: 25px;


}
.help:after {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    top:25px;
    left:-15px;
    width:0;
    border-width: 15px  0 0 15px;
    border-style:solid;
    border-color:#48535e transparent;
}


.ikona  {
    width: 26px;
    height: 26px;
    background-image: url("../images/ikony_all.png");
    background-repeat: no-repeat;
    display: table-cell;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: bold;
    font-size:  1.2em;
}

td.duration, .zegarek {
    width: 80px;

    background-position: 0px -153px;
}

.road_szosa{
    background-position: 0px -200px;
}

.road_szuter{
    background-position: 0px -249px;
}


/* formularze */


form.top_login input , .topBar a {
    font-size: 12px;
    border: 1px solid #f4ece5;
    color: #395164
}

form.top_login label.normal {
    font-size: 12px;
    font-family: "Trebuchet MS", "sans-serif";
    color: #395164;
}

form.top_login input[type=submit], form.top_login input[type=button], form.top_login input[type=reset] , .topBar a {
    background-color: #395164;
    color: #f4ece5;
}

form.top_login input[type=text], form.top_login input[type=password] , .topBar a {
    width: 80px;
}

.top_bar a{
    font-family: 'OctinSpraypaintARegular', sans-serif;
}

form.top_login p {
    margin: 0;
    padding: 0;
}

input[type=text] {
    /*border: solid 1px #403b37;*/
}

input[type=submit], input[type=button], input[type=reset]  {
    font-family: 'OctinSpraypaintARegular', sans-serif;
    background-color: #403b37;
    color: #f4ece5;
    border: 1px solid #f4ece5;
}

.bigButton {
    font-size: 20px;
}
.midButton{
    padding: 2px 7px 2px 7px;
    font-size: 1.1em;

}
/*formularz rejestracji*/
.Rejestracja label {
    display: inline-block;
    font-family: sans-serif;
    width: 150px;
}

.Rejestracja input {
    margin: 3px 0 3px 0;

}

/* validacja */

form.validated ul {

    border: solid 1px red;
}

form.validated ul li {
    color: red;
    list-style-type: none;
}

/* end validacja */


/* end formularze */


.footer {
    margin: 50px  0 20px 0 ;
    font-size: 0.8em;
    text-align: center;
}

/* userpage */
.Roundsquare {
    /*border: 2px solid;*/
    -moz-border-radius: 10px;
    border-radius: 10px;

    border-color: #c2baa4;
    background-image: url("../images/bg_Roundsquare_png_24.png");
    background-repeat: repeat-y;
    margin-bottom: 5px;
    padding: 15px 0;
}

.Roundsquare16 {


    border-color: #c2baa4;
    background-image: url("../images/bg_Roundsquare_png_24.png");
    background-repeat: repeat;
    margin-bottom: 15px;
    padding: 15px 0;
}


.Roundsquare h5  {
    display: block;
    text-align: center;
    padding: 15px 0 0 0;
    height: 50px;
    margin: 0 15px 5px 15px;

    background-image: url("../images/bg_h5_png24.png");
    background-position: 5px 0;
    background-repeat: no-repeat;
    color: #f4ece5;




    font-size: 2em;
    text-shadow: 1px 1px 3px #000000;

}

.Roundsquare h2, .Roundsquare16 h2{
    text-align: left;

    background-image: none;


    color: #403b37;
    margin: 0 15px 5px 15px;
    height: 50px;
    margin-top: 0px;
    padding-top: 0px;

    text-shadow: none;

    font-size: 2.5em;



}

.row_underline {
    border-bottom: 1px dashed;

    border-color: #b0a098;
    padding: 5px 0 0 0;
    height: 70px;
}

.fos_user_user_show {
    margin-left: 5px;
    line-height: 25px;
    font-size: 1.2em;

}



/* end userpage */




/* end userpage */


.description {
    margin: 0 15px 0 15px;
    /*text-align: justify;*/
    word-spacing: 0.25em;

}

div.overflowed {
    margin-bottom: 15px;
}